/*
--svgcolor svg图标的颜色
--main-bg-color主页背景
--main-text-color文本颜色
--gradient-start标题渐变开始颜色
--gradient-middle标题渐变中间颜色
--gradient-end标题渐变结束颜色
--purple-text-color描述紫色文本颜色
--text-bg-color描述紫色文本背景颜色
--item-bg-color项目背景颜色
--item-hover-color项目鼠标移入颜色
--item-left-title-color项目标题颜色
--item-left-text-color项目描述颜色
--footer-text-color底部文本颜色
--left-tag-item左侧标签颜色
--card-filter卡片模糊的数值
--back-filter背景模糊的数值
--back-filter-color全局阴影遮罩

*/
/*卡片模糊的数值非常吃性能,背景模糊的数值可以模糊也可以不模糊

0为不模糊,数值越大模糊程度越高

这两个任选其一进行模糊

一个有数字另一个建议为0


内置4套白天主题修改办法



每套主题的结构都为html{
    
}

只有最下面的会生效,也就是将你要设置的主题剪切到最下面
*/








html {
    /*非常吃性能,低配手机会卡顿*/
    /*卡片模糊背景＋黑色透明卡片+白色svg**/
    --svgcolor: #ffffff;
    --main-bg-color: url(/static/img/background.jpg);
    --main-text-color: #eeeeee;
    --gradient-start: #bd34fe;
    --gradient-middle: #e0321b;
    --gradient-end: #41d1ff;
    --purple-text-color: #747bff;
    --text-bg-color: #00000040;
    --item-bg-color: #00000038;
    --item-hover-color: #33333338;
    --item-left-title-color: #ffffff;
    --item-left-text-color: #ffffff;
    --footer-text-color: #ffffff;
    --left-tag-item: rgb(27 42 57 / 20%);
    --card-filter: 15px;
    --back-filter: 0px;
    --back-filter-color: #00000030;
}


html {
    /*图片模糊背景＋白色透明卡片+黑色svg*/
    --svgcolor: #000000;
    --main-bg-color: url(/static/img/background.jpg);
    --main-text-color: #000000;
    --gradient-start: #bd34fe;
    --gradient-middle: #e0321b;
    --gradient-end: #41d1ff;
    --purple-text-color: #747bff;
    --text-bg-color: rgb(121 163 231);
    --item-bg-color: rgba(249, 250, 251, 0.42);
    --item-hover-color: rgba(244, 245, 246, 0.8);
    --item-left-title-color: #000000;
    --item-left-text-color: #494949;
    --footer-text-color: #ffffff;
    --left-tag-item: #c7e1fa;
    --card-filter: 0px;
    --back-filter: 20px;
    --back-filter-color: #00000030;
}

html {
    /*蓝色渐变+黑色svg**/
    --svgcolor: #000000;
    --main-bg-color: linear-gradient(50deg, #a2d1ff, #ffffff);
    --main-text-color: #000000;
    --gradient-start: #bd34fe;
    --gradient-middle: #e0321b;
    --gradient-end: #41d1ff;
    --purple-text-color: #747bff;
    --text-bg-color: rgb(196 217 251);
    --item-bg-color: rgba(249, 250, 251, 0.5);
    --item-hover-color: rgba(244, 245, 246, 0.8);
    --item-left-title-color: #000000;
    --item-left-text-color: #494949;
    --footer-text-color: #222222;
    --left-tag-item: linear-gradient(50deg, #a2d1ff, #ffffff);
    --card-filter: 0px;
    --back-filter: 0px;
    --back-filter-color: #00000000;
}

html {
    /*白色简约+黑色svg**/
    --svgcolor: #242424;
    --main-bg-color: #ffffff;
    --main-text-color: #000000;
    --gradient-start: #bd34fe;
    --gradient-middle: #e0321b;
    --gradient-end: #41d1ff;
    --purple-text-color: #747bff;
    --text-bg-color: rgb(185, 204, 235);
    --item-bg-color: rgb(247 247 247);
    --item-hover-color: rgba(244, 245, 246, 0.5);
    --item-left-title-color: #000000;
    --item-left-text-color: #494949;
    --footer-text-color: #222222;
    --left-tag-item: #ffffff;
    --card-filter: 0px;
    --back-filter: 0px;
    --back-filter-color: #00000000;
}
html {
    /*图片模糊背景＋黑色透明卡片+白色svg**/
    --svgcolor: #ffffff;
    --main-bg-color: url(/static/img/background.jpg);
    --main-text-color: #eeeeee;
    --gradient-start: #bd34fe;
    --gradient-middle: #e0321b;
    --gradient-end: #41d1ff;
    --purple-text-color: #747bff;
    --text-bg-color: #00000040;
    --item-bg-color: #00000038;
    --item-hover-color: #33333338;
    --item-left-title-color: #ffffff;
    --item-left-text-color: #ffffff;
    --footer-text-color: #ffffff;
    --left-tag-item: rgb(27 42 57 / 20%);
    --card-filter: 0px;
    --back-filter: 20px;
    --back-filter-color: #00000030;
}